<div class="row" id="content">
  <div class="bluepant-text">
    <p class="title">Ceiba-Team</p>
    <p class="subtitle">Grupo Mexicano de Programadores Web</p>
  </div>
  <%= image_tag "ceibalogo.png", class: "back-logo" %>
  <div class="bluepant"></div>
  <%= image_tag "code.jpeg", class: "back-image" %>
</div>

<div class="row background-white">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 row-in-6">
        <h3 class="title-in-box">Servicios</h3>
        <p>Desarrollo de aplicaciones web a la medida</p>
        <p>
          Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
        <br>
        <a href="#" class="button-red">Saber más</a>
      </div>

      <div class="col-md-6 row-in-6">
        <%= image_tag "develop.png", class: "image-center" %>
      </div>
    </div>
  </div>
</div>

<div class="row background-color">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 row-in-6">
        <%= image_tag "services.png", class: "image-center" %>
      </div>
      <div class="col-md-6 row-in-6">
        <h3 class="title-in-box">Equipo</h3>
        <p>batos locos forever</p>
        <p>
          Párrafo. Haz clic aquí para agregar tu propio texto y editar. Es fácil. Haz clic en Editar Texto o doble clic aquí para agregar tu contenido y cambiar la fuente. En este espacio puedes contar tu historia y permitir a tus usuarios saber más sobre ti.</p>
        <br>
        <a href="#" class="button-red">Saber más</a>
      </div>
    </div>
  </div>
</div>

<div class="row background-white" id="team-info">
  <div class="col-md-12">
    <div class="team-title">Equipo de Trabajo CEIBA-TEAM</div>
    <div class="row">
      <div class="col-sm-1 col-md-1"></div>
      <div class="col-sm-2 col-md-2">
        
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail text-center">
          <%= image_tag "avatar.png", class: "avatar" %>
          <div class="caption">
            <strong>Rolando Gonzalez</strong>
            <p>Member Info</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail text-center">
          <%= image_tag "avatar.png", class: "avatar" %>
          <div class="caption">
            <strong>Amed Salazar</strong>
            <p>Member Info</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail text-center">
          <%= image_tag "avatar.png", class: "avatar" %>
          <div class="caption">
            <strong>Sergio Arteaga</strong>
            <p>Member Info</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="thumbnail text-center">
          <%= image_tag "avatar.png", class: "avatar" %>
          <div class="caption">
            <strong>Benjamin Arteaga</strong>
            <p>Member Info</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row background-color">
  <div class="col-md-12">
    <div>
      <h3 class="title-in-box">Clientes</h3>
        <p>lista de clientes</p>
    </div>
    <div class="row">
      <div class="col-md-3">
         <p>a</p>
      </div>
      <div class="col-md-3">
         <p>b</p>
      </div>
      <div class="col-md-3">
         <p>c</p>
      </div>
      <div class="col-md-3">
         <p>d</p>
      </div>
    </div>
  </div>
</div>

<div class="row background-white-minor">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8 row-in-6">
        <h3 class="title-in-box">¿Más información? Contactanos.</h3>
        <p>Ya sea por correo electronico o por numero telefonico.</p>
      </div>
      <div class="col-md-4 row-in-6">
        <a href="#" class="button-red">Contactar</a>
      </div>
    </div>
  </div>
</div>