<div class="row" id="content">
  <div class="bluepant-text">
    <p class="title">Contáctanos</p>
    <p class="subtitle">Te brindamos mayor información</p>
  </div>
  <div class="bluepant blue-heigth"></div>
  <%= image_tag "equipo.jpg", class: "back-image" %>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="title">Nosotros</p>
    <p>Somos un grupo de </p>
  </div>
</div>

<div class="row members" id="group-info">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        <div class="media aling-center">
          <div class="media-left media-middle padding-left">
            <a href="#">
              <%= image_tag "avatar.png", class: "avatar" %>
            </a>
          </div>
          <div class="media-body member-area">
            <div class="media-heading member-name">
              <strong>Alexis Rabago Carvajal</strong>
              <p>Proyect Manager</p>
            </div>
          </div>
        </div>

        <div class="member-info">
          <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
          </p>
        </div>

      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        <div class="media aling-center">
          <div class="media-left media-middle padding-left">
            <a href="#">
              <%= image_tag "avatar.png", class: "avatar" %>
            </a>
          </div>
          <div class="media-body member-area">
            <div class="media-heading member-name">
              <strong>Benjamin Arteaga Macias</strong>
              <p>Frontender Developer</p>
            </div>
          </div>
        </div>

        <div class="member-info">
          <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
          </p>
        </div>

      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        
        <div class="media aling-center">
          <div class="media-left media-middle padding-left">
            <a href="#">
              <%= image_tag "avatar.png", class: "avatar" %>
            </a>
          </div>
          <div class="media-body member-area">
            <div class="media-heading member-name">
              <strong>Sergio Arteaga Macias</strong>
              <p>Front-end Web Developer</p>
            </div>
          </div>
        </div>

        <div class="member-info">
          <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
          </p>
        </div>

      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
    </div>

    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

        <div class="media aling-center">
          <div class="media-left media-middle padding-left">
            <a href="#">
              <%= image_tag "avatar.png", class: "avatar" %>
            </a>
          </div>
          <div class="media-body member-area">
            <div class="media-heading member-name">
              <strong>Amed Salazar Estrella</strong>
              <p>Back-end Web Developer</p>
            </div>
          </div>
        </div>

        <div class="member-info">
          <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
          </p>
        </div>

      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        
        <div class="media aling-center">
          <div class="media-left media-middle padding-left">
            <a href="#">
              <%= image_tag "avatar.png", class: "avatar" %>
            </a>
          </div>
          <div class="media-body member-area">
            <div class="media-heading member-name">
              <strong>Rolando Gonzalez Angulo</strong>
              <p>Back-end Web Developer</p>
            </div>
          </div>
        </div>

        <div class="member-info">
          <p>
            This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.
          </p>
        </div>

      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> </div>
    </div>
  </div>
</div>
