<div class="row">
  <div class="col-md-12">
    <p class="title">Nosotros</p>
    <p>Somos un grupo de </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail text-center">
      <%= image_tag "avatar.png", class: "avatar" %>
      <div class="caption">
        <strong>Benjamin Arteaga</strong>
        <p>Member Info</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail text-center">
      <%= image_tag "avatar.png", class: "avatar" %>
      <div class="caption">
        <strong>Sergio Arteaga</strong>
        <p>Member Info</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail text-center">
      <%= image_tag "avatar.png", class: "avatar" %>
      <div class="caption">
        <strong>Amed Salazar</strong>
        <p>Member Info</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail text-center">
      <%= image_tag "avatar.png", class: "avatar" %>
      <div class="caption">
        <strong>Rolando Gonzalez</strong>
        <p>Member Info</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail text-center">
      <%= image_tag "avatar.png", class: "avatar" %>
      <div class="caption">
        <strong>Alexis Rabago</strong>
        <p>Member Info</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    
  </div>
</div>