<!DOCTYPE html>
<html>
  <head>
    <title>CeibaTeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row fixed-li no-padding" id="bar-nav">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
          <ul class="logo">
            <li><%= image_tag "ceibalogo.png", class: "logoimg" %></li>
            <li>CEIBA-TEAM</li>
          </ul>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <ul class="menu">
            <li>
              <%= link_to page_path("home") do %>
                <p>Inicio</p>
              <% end %>
            </li>
            <li>
              <%= link_to page_path("services") do %>
                <p>Servicios</p>
              <% end %>
            </li>
            <li>
              <%= link_to page_path("us") do %>
                <p>Nosotros</p>
              <% end %>
            </li>
            <li>
              <%= link_to page_path("news") do %>
                <p>Tecnologías</p>
              <% end %>
            </li>
            <li>
              <%= link_to page_path("contact") do %>
                <p>Contacto</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <%= yield %>

      <div class="row background-gray" id="footer">
      </div>
    </div>
  </body>
</html>
